<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CalorieCount</title>
</head>
<body>
      <form method="POST">
         {% csrf_token %}
         <label>Select Food</label>
         <select name="food">

             {% for food in foods %}
                 <option value="{{ food.id }}">
                      {{ food.name }}
                 </option>
             {% endfor %}

         </select>
          <button type="submit">Add</button>

       </form>

</body>
</html>